<div class="construccion">
<p>Puedes descargarte las bases y condiciones desde aqu&iacute;
    <a href="basesycondiciones2011.doc" title="Base y Condiciones">
        <img src="<?php echo $config->get('urlImagenes');?>/word.jpg" alt="Base y Condiciones" />
    </a>
</p>
<p>Si quieres conocer al jurado de esta edici&oacute;n puedes hacer click <a class="jur" href="jurado.php" title="jurado de esta edici&oacute;n">aqu&iacute;</a></p>
<p>Ya puedes descargar la planilla de inscripción desde aquí 
<a href="<?php echo $config->get('urlImagenes');?>fichadeinscripcion6.pdf" title="ficha de inscripcion">
        <img src="<?php echo $config->get('urlImagenes');?>/pdf.gif" alt="ficha de inscripcion" />
    </a>
	<a href="<?php echo $config->get('urlImagenes');?>fichadeinscripcion6.jpg" title="ficha de inscripcion">
        <img src="<?php echo $config->get('urlImagenes');?>/imagen.gif" alt="ficha de inscripcion" />
    </a>
</p>
<br/><br/><br/>
<p style="text-align: justify; margin-bottom:10px;">
Editorial:
</p>
 

<p style="text-align: justify; margin-bottom:10px;">"En los cortos es donde realmente se expresa el cine de autor".</p>

<p style="text-align: justify; margin-bottom:10px;">Hoy uno hace un corto y se sabe que no hay muchos espacios en donde pueda llegar a verse.(1)</p>

 

<p style="text-align: justify; margin-bottom:10px;">Esa fue la premisa del "Pizza,birra y cortos" hace tan solo seis años, "el espacio". Al igual que los realizadores, habremos tenido errores, aciertos y también dudas. De lo que nunca dudamos es de la LIBERTAD, esa libertad que permite el formato.</p>

<p style="text-align: justify; margin-bottom:10px;">Por eso queremos que  sea un espacio de exhibición y un punto de encuentro entre un prestigioso jurado y el público en general.</p>

 

<p style="text-align: justify; margin-bottom:10px;">Agradecemos a todos los que confiaron en este festival  y lo siguen haciendo. Tratamos que el mayor espacio dentro de una nutrida y variada programación (charlas - talleres, películas) sea dedicado al cortometraje.</p>

 

<p style="text-align: justify; margin-bottom:10px;">Desde aquí seguimos alentando a todos los realizadores para que juntos sigamos este camino, y recuerda: “CUANDO HACES UN CORTO…EL MUNDO ES TUYO” (2).</p>

<p style="text-align: justify; margin-bottom:10px;">Pizza,birra y cortos.</p>
<p style="text-align: justify; margin-bottom:10px; font-size:10px;">(1)*  Gonzalo Zapico (Guionista-Director). Fuente: Revista "&Ntilde;".</p>
 
<p style="text-align: justify; margin-bottom:10px; font-size:10px;">(2)*  Mark Borchardt. En 1980 con catorce a&ntilde;os pago cuarenta d&oacute;lares por su primera c&aacute;mara de cine, una super 8. El corto de Borchardt, en 16mm "Coven" de treinta y siete minutos, ha vendido unas cinco mil copias en todo el mundo.  Fuente: “Como se hace un cortometraje” de Kim Adelman.</p>

<p class="invitadas">
<a href="cortos-seleccionados.php" title="Cortos Seleccionados"><img src="<?php echo $config->get('viewsFolder');?>images/link_cortos.png" alt="Cortos Seleccionados"/></a></p>
<p class="invitadas">
<a href="peliculas-invitadas.php" title="Películas Invitadas"><img src="<?php echo $config->get('viewsFolder');?>images/invitadas.png" alt="Películas Invitadas"/></a></p>
<p><img src="<?php echo $config->get('viewsFolder');?>images/auspician.png" alt="Auspician"/></p>

</div>