<h2><a href="index.php?controlador=prensa" title="volver">Volver</a></h2>
<div id="main">
    <?
    include_once($config->get('root').$config->get('adminViewsFolder').$config->get('jsAdmin')."fckeditor/fckeditor.php");
    if(!empty($mensaje)){
    echo $mensaje;
    }
    ?>
    <h3><? if($_REQUEST['accion']=='nuevaPrensa' || $_REQUEST['accion']=='crearPrensa'){ echo "Crear Prensa";}else{ echo "Editar Prensa";}?></h3>
    <form action="index.php?controlador=prensa&amp;accion=<?if($_REQUEST['accion']!='editarPrensa' && $_REQUEST['accion']!='guardarPrensa'){ echo 'crearPrensa';}else{ echo 'guardarPrensa';}?>" method="post" class="jNice" enctype="multipart/form-data">
          <div class="portlet2">
            <div class="portlet2-header">Opciones Prensa</div>
            <div class="portlet2-content">
                <fieldset>                    		    
		    <p><label>Contenido:</label>
			<?php
			$oFCKeditor = new FCKeditor('texto') ;
			$oFCKeditor->ToolbarSet = 'Normal' ;
			$oFCKeditor->BasePath = $config->get('urlRoot').$config->get('adminViewsFolder').'js/fckeditor/' ;
			//Ancho del TextArea
			$oFCKeditor->Width = '100%' ;
			//Alto del TextArea
			$oFCKeditor->Height = '400' ;
			if($datos->texto ==''){
			    $oFCKeditor->Value = '' ;
			}
			else{
			    $oFCKeditor->Value = $datos->texto;
			}
			$oFCKeditor->Create() ;
			?>
		    </p>
		    <p><label>Fecha </label><input type="text" class="text-short" readonly="readonly" id="datepicker" name="fecha" value="<?php echo $datos->fecha;?>"/></p>
		    <?php
			if(!empty($datos->imagen_thumb)){?>
		    <label>Imagen Actual:</label>
		    <p>
			<img src="<?php echo $config->get('urlImagenes').$datos->imagen_thumb;?>" alt="<?php echo basename($datos->nombre);?>"/>
		    </p>
		    <?php
			}
			?>
		    <p><label>Imagen:</label>
			<input type="file" class="text-long" name="imagen" value=""/>
		    </p>
                </fieldset>
            </div>
        </div>
        
        <fieldset>
            <input type="hidden" name="id"  value="<? echo $datos->id;?>"/>
            <input type="submit" value="Guardar" />
        </fieldset>
    </form>
</div>
<!-- // #main -->
<div class="clear"></div>
