<h2><a class="ajax" href="index.php?controlador=usuarios&amp;accion=nuevoUsuarios" title="Crear Nuevo Usuario">Crear Nuevo Usuario</a></h2>
<div id="main">
    <?
    if(!empty($mensaje)){
    echo $mensaje;
    }
    ?>
    <h3>Listado de Usuarios </h3>
    <table cellpadding="0" cellspacing="0" summary="">
	<thead>
	    <tr>
		<th>#</th>
		<th>Usuario</th>
		<th>Nombre</th>
		<th>Email</th>
		<th>Estado</th>
		<th>&nbsp;</th>
	    </tr>
	</thead>
	<?
        $num_fila = 1;
        $info = $paginador->superArray();
        $i=1 + ( $info['porPagina'] * ( $info['numEstaPagina'] - 1 ) );
        while ($usuarios=$paginador->fetchResultado()){
	    $j++;
	    if ($num_fila%2!=0){
		$class="class='odd'";
	    }
	    else{
		$class="";
	    }?>
	<tr <? echo $class;?>>
	    <td><? echo $usuarios['id'];?></td>
	    <td><? echo $usuarios['username'];?></td>
	    <td><? echo $usuarios['nombre']." ".$usuarios['apellido'];?></td>
	    <td><? echo $usuarios['email'];?></td>
	    <td><? echo $usuarios['estado'];?></td>
	    <td class="action">
		<a class="edit ajax" href="index.php?controlador=usuarios&amp;accion=editarUsuarios&amp;id=<? echo $usuarios['id'];?>" title="Editar Usuario">
        									Editar
		</a>
		<a class="delete" onclick="if (ask()) window.location='index.php?controlador=usuarios&amp;accion=borrarUsuarios&amp;id=<? echo $usuarios['id'];?>'" href="#" title="Borrar Usuario">
									Borrar
		</a>
	    </td>
	</tr>
	<?php
	$num_fila++;
	}?>
	<tr><td colspan="7">&nbsp;</td></tr>
    </table>
    <? echo "<div id='navigation'>".$paginador->fetchNavegacion()."</div>";?>


</div>
<!-- // #main -->               
<div class="clear"></div>

