<div id="sidebar">
	<ul class="sideNav">    
	    <li><a href="index.php?controlador=configuracion" <? if ($_REQUEST['controlador']=="configuracion"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Configuración del Sitio</a></li>
	    <li><a href="index.php?controlador=seo" <? if ($_REQUEST['controlador']=="seo"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Opciones SEO</a></li>
	    <li><a href="index.php?controlador=secciones" <? if ($_REQUEST['controlador']=="secciones"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Secciones</a></li>
	    <li><a href="index.php?controlador=noticias" <? if ($_REQUEST['controlador']=="noticias"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Noticias</a></li>
	    <li><a href="index.php?controlador=ediciones" <? if ($_REQUEST['controlador']=="ediciones"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Ediciones Anteriores</a></li>
	    <li><a href="index.php?controlador=jurado" <? if ($_REQUEST['controlador']=="jurado"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Jurados</a></li>
	    <!--<li><a href="index.php?controlador=usuarios" <? //if ($_REQUEST['controlador']=="usuarios"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Usuarios</a></li>
	    <li><a href="index.php?controlador=lenguajes" <? //if ($_REQUEST['controlador']=="lenguajes"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Idiomas</a></li>
	    <li><a href="index.php?controlador=errores" <? //if ($_REQUEST['controlador']=="errores"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Errores del Sistema</a></li>
	    <li><a href="index.php?controlador=log" <? //if ($_REQUEST['controlador']=="log"){echo 'class="active ajax"';} else {echo 'class="ajax"';}?>>Log del Sistema</a></li>-->
	    			
	</ul>
<!-- // .sideNav -->
</div>    